In [1]:
import pandas as pd
from utils import *

In [2]:
## Synthetic data
X, y = make_classification(n_classes=2, class_sep=2, weights=[0.1, 0.9],
	n_informative=3, n_redundant=1, flip_y=0,
	n_features=20, n_clusters_per_class=1,
	n_samples=1000, random_state=10)
print X.shape, y.shape

(1000, 20) (1000,)

In [3]:
## Load Titanic
titanic = pd.read_csv('datasets/Titanic/train.csv')
print titanic.shape
titanic.head()

IOError: [Errno 2] File datasets/Titanic/train.csv does not exist: 'datasets/Titanic/train.csv'

In [4]:
## Examine class ratio
print titanic['Survived'].sum()
print titanic['Survived'].sum()/float(titanic.shape[0])

342
0.383838383838

In [5]:
## Process features
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in ['Sex', 'Cabin', 'Embarked']:
    titanic[col] = le.fit_transform(titanic[col])

## Split df into X and y and convert to numpy.array
X = titanic.drop(['PassengerId', 'Survived', 'Name', 'Ticket'], axis=1).values
y = titanic['Survived'].values
print X.shape, y.shape

(891, 8) (891,)

/Library/Python/2.7/site-packages/numpy-1.10.4-py2.7-macosx-10.10-intel.egg/numpy/lib/arraysetops.py:200: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

In [6]:
## Load breast cancer data
bc = pd.read_csv('datasets/wpbc.data', 
                    names=['ID', 'outcome'] + ['Attr%s'%i for i in range(33)])
print bc.shape
bc.head()

(198, 35)

,ID,outcome,Attr0,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,...,Attr23,Attr24,Attr25,Attr26,Attr27,Attr28,Attr29,Attr30,Attr31,Attr32
0,119513,N,31,18.02,27.60,117.50,1013.0,0.09489,0.1036,0.1086,...,139.70,1436.0,0.1195,0.1926,0.3140,0.1170,0.2677,0.08113,5.0,5
1,8423,N,61,17.99,10.38,122.80,1001.0,0.11840,0.2776,0.3001,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,3.0,2
2,842517,N,116,21.37,17.44,137.50,1373.0,0.08836,0.1189,0.1255,...,159.10,1949.0,0.1188,0.3449,0.3414,0.2032,0.4334,0.09067,2.5,0
3,843483,N,123,11.42,20.38,77.58,386.1,0.14250,0.2839,0.2414,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,2.0,0
4,843584,R,27,20.29,14.34,135.10,1297.0,0.10030,0.1328,0.1980,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,3.5,0

In [7]:
print bc['outcome'].value_counts()

N    151
R     47
dtype: int64

In [32]:
## Split df into X and y and convert to numpy.array
X = bc.drop(['ID', 'outcome'], axis=1)
y = bc['outcome'].map({'N':0, 'R':1})

X = X.values
y = y.values

print X.shape, y.shape
print y.sum()/float(y.shape[0])

(198, 33) (198,)
0.237373737374

In [4]:
## Load ProteomicsDB data
proteome = pd.read_csv('datasets/Harmonizome/gene_attribute_matrix_cleaned.txt.gz', 
                       sep='\t', compression='gzip', skiprows=2)
print proteome.shape
proteome.head()

(2776, 56)

,GeneSym,UniprotAcc,GeneID/Brenda Tissue Ontology BTO:,38,675,1615,568,2806,1938,18,...,1158,1363,1078,763,2553,1129,776,289,2417,914
0,LOC102724985,Q6P996,102724985,5.017355,4.830592,5.783336,5.049440,4.858041,4.605708,4.868083,...,5.395317,4.734884,4.835634,4.659831,4.643150,4.376222,4.026439,4.659961,3.929821,4.854218
1,PDXDC1,H3BU11,23042,4.744159,4.601433,5.267198,4.741168,4.571314,4.518610,4.565993,...,4.894014,4.403376,4.440597,4.472297,4.479050,4.216782,3.893532,4.520178,3.725262,4.458436
2,COG5,Q9UP83,10466,4.213385,4.213385,5.759206,4.528063,4.035077,4.359530,4.309750,...,4.634878,4.799939,4.510710,4.048240,3.924763,4.041728,4.135629,4.715816,4.092942,4.545271
3,HEXA,H3BU85,3073,4.535638,4.740634,5.118528,4.181380,4.731774,4.665979,4.865457,...,4.708274,4.937703,4.598400,5.290727,5.423842,4.154158,3.857923,5.115823,4.369458,5.008221
4,HEXB,H0Y9B6,3074,4.605520,4.591239,6.294882,4.139686,5.471996,4.442832,5.214406,...,5.139610,4.979131,5.654624,5.278758,5.283525,4.972013,4.536124,5.388605,4.576318,5.425797

In [7]:
## Load HGNC gene family 
gene_family = pd.read_csv('datasets/Harmonizome/HGNC_gene_family.txt',sep='\t')
print gene_family.shape
gene_family.head()

(29010, 13)

,HGNC ID,Approved symbol,Approved name,Status,Locus type,Previous symbols,Alias symbols,Chromosome,NCBI Gene ID,Ensembl gene ID,Vega gene ID,Group ID,Group name
0,HGNC:324,AGPAT1,1-acylglycerol-3-phosphate O-acyltransferase 1,Approved,gene with protein product,NaN,LPAAT-alpha,6p21.32,10554.0,ENSG00000204310,OTTHUMG00000031210,46,1-acylglycerol-3-phosphate O-acyltransferases
1,HGNC:25718,LPCAT1,lysophosphatidylcholine acyltransferase 1,Approved,gene with protein product,AYTL2,"FLJ12443, AGPAT9, AGPAT10",5p15.33,79888.0,ENSG00000153395,OTTHUMG00000131017,46,1-acylglycerol-3-phosphate O-acyltransferases
2,HGNC:26032,LPCAT2,lysophosphatidylcholine acyltransferase 2,Approved,gene with protein product,AYTL1,"FLJ20481, AGPAT11, LysoPAFAT",16q12.2,54947.0,ENSG00000087253,OTTHUMG00000133238,46,1-acylglycerol-3-phosphate O-acyltransferases
3,HGNC:325,AGPAT2,1-acylglycerol-3-phosphate O-acyltransferase 2,Approved,gene with protein product,BSCL,LPAAT-beta,9q34.3,10555.0,ENSG00000169692,OTTHUMG00000020936,46,1-acylglycerol-3-phosphate O-acyltransferases
4,HGNC:326,AGPAT3,1-acylglycerol-3-phosphate O-acyltransferase 3,Approved,gene with protein product,NaN,"LPAAT-gamma, LPAAT3",21q22.3,56894.0,ENSG00000160216,OTTHUMG00000086892,46,1-acylglycerol-3-phosphate O-acyltransferases

In [10]:
print gene_family['Group name'].value_counts()

Long intergenic non-protein coding RNAs                 2189
Antisense RNAs                                          1584
MicroRNAs                                               1466
MicroRNA protein coding host genes                       846
Zinc fingers C2H2-type                                   720
Solute carriers                                          433
Cytoplasmic transfer RNAs                                428
CD molecules                                             394
Long non-coding RNAs with non-systematic symbols         381
Small nucleolar RNAs, C/D box                            355
Ring finger proteins                                     305
WD repeat domain containing                              274
Divergent transcripts                                    267
Armadillo like helical domain containing                 244
Ankyrin repeat domain containing                         222
EF-hand domain containing                                219
RNA binding motif containing                             213
Pleckstrin homology domain containing                    190
Immunoglobulin heavy locus at 14q32.33                   188
Small nucleolar RNAs, H/ACA box                          182
Protein phosphatase 1 regulatory subunits                181
V-set domain containing                                  163
I-set domain containing                                  161
PDZ domain containing                                    152
Small nucleolar RNA protein coding host genes            145
Intronic transcripts                                     143
BTB domain containing                                    134
Olfactory receptors, family 4                            133
Vomeronasal receptors                                    129
Fibronectin type III domain containing                   128
                                                        ...
Oxoglutarate receptor                                      1
Myosins, class X                                           1
Class II Cys-based phosphatases                            1
Ubiquitin specific peptidase like                          1
Mitochondrially encoded long non-coding RNAs               1
CMG helicase complex                                       1
Platelet activating factor receptor                        1
Cytochrome P450 family 19                                  1
Cytochrome P450 family 17                                  1
Mitochondrial sorting and assembly machinery complex       1
Zinc activated channels                                    1
C-X-3-C motif chemokine receptors                          1
Cytochrome P450 family 5                                   1
Myosins, class XIX                                         1
Lipid phosphatases                                         1
ZUP1 deubiquitinase                                        1
UDP-glucose ceramide glucosyltransferases                  1
Myosins, class VI                                          1
Olfactory receptors, family 55                             1
Hydrogen voltage gated channels                            1
Cystatins, type 3                                          1
Chemerin receptor                                          1
Cytochrome P450 family 39                                  1
Cytochrome P450 family 20                                  1
Cytochrome P450 family 24                                  1
Sodium leak channels, non selective                        1
X-C motif chemokine receptors                              1
Chloride channels, ATP-gated CFTR                          1
Succinate receptor                                         1
RAN family GTPases                                         1
Name: Group name, Length: 1427, dtype: int64

In [13]:
# Count kinases
print filter(lambda x: 'kinase' in x.lower(), gene_family['Group name'].unique())
print len(filter(lambda x: 'kinase' in x.lower(), gene_family['Group name']))

['6-phosphofructo-2-kinases/fructose-2,6-biphosphatases', 'A-kinase anchoring proteins', 'Abl family tyrosine kinases', 'Adenylate kinases', 'AGC family kinases', 'AKT kinases', 'C2 domain containing protein kinases', 'Calmodulin dependent protein kinases', 'CDC like kinases', 'CDK activating kinase complex', 'Csk family tyrosine kinases', 'Cyclin dependent kinases', 'Death associated protein kinases', 'Deoxyribonucleoside kinases', 'Diacylglycerol kinases', 'divergent protein kinase domain family', 'Erb-b2 receptor tyrosine kinases', 'Fes family tyrosine kinases', 'Glycerol kinases', 'Golgi associated kinase family', 'I kappa B kinases', 'Jak family tyrosine kinases', 'LIMK/TESK kinase family', 'MAP kinase phosphatases', 'MAPK activated protein kinases', 'Membrane associated guanylate kinases', 'Mitogen-activated protein kinase kinase kinase kinases', 'Mitogen-activated protein kinase kinase kinases', 'Mitogen-activated protein kinase kinases', 'Mitogen-activated protein kinases', 'MOB kinase activators', 'Myosin light chain kinase family', 'Pantothenate kinases', 'Phosphatidylinositol 3-kinase subunits', 'PI4KA lipid kinase complex', 'PTK2 family tyrosine kinases', 'PTK6 family tyrosine kinases', 'Receptor tyrosine kinases', 'SCY1 like pseudokinases', 'Src family tyrosine kinases', 'Syk family tyrosine kinases', 'Tec family tyrosine kinases', 'TNK family tyrosine kinases', 'Type 1 receptor serine/threonine kinases', 'Type 2 receptor serine/threonine kinases', 'WNK lysine deficient protein kinases']
423

In [15]:
# Count TF
print filter(lambda x: 'transcription factor' in x.lower(), gene_family['Group name'].unique())
print len(filter(lambda x: 'transcription factor' in x.lower(), gene_family['Group name']))

['CREB3 transcription factor family', 'E2F transcription factors', 'ETS transcription factor family', 'Fos transcription factor family', 'General transcription factor IIA complex subunits', 'General transcription factor IID complex subunits ', 'General transcription factor IIE complex subunits', 'General transcription factor IIF complex subunits', 'General transcription factor IIH complex subunits', 'General transcription factor IIIB complex subunits ', 'General transcription factor IIIC complex subunits', 'General transcription factors', 'Jun transcription factor family', 'Runt-related transcription factors', 'Sp transcription factors', 'SRY-box transcription factors', 'T-box transcription factors', 'TCF/LEF transcription factor family', 'TEA domain transcription factors', 'Transcription factor Dp family']
152

In [18]:
# Inner join with proteome data
gene_family = gene_family[['Approved symbol', 'Group name']]
gene_family.set_index('Approved symbol', inplace=True)
print gene_family.shape

proteome = proteome.drop(['UniprotAcc', 'GeneID/Brenda Tissue Ontology BTO:'], axis=1)
proteome.set_index('GeneSym', inplace=True)
print proteome.shape

proteome = proteome.merge(gene_family, left_index=True, right_index=True, how='inner')
print proteome.shape

(29010, 1)
(2776, 53)
(3021, 54)

In [19]:
# Split X and y
X = proteome.drop(['Group name'], axis=1)
print X.columns
X = X.values
y = proteome['Group name']
y = map(lambda x: 'kinase' in x.lower(), y)
y = np.array(y, dtype=np.int64)
print y.sum(), y.shape, X.shape

Index([u'38', u'675', u'1615', u'568', u'2806', u'1938', u'18', u'4860',
       u'200001', u'200005', u'3884', u'3323', u'1939', u'2178', u'200004',
       u'1961', u'200002', u'1908', u'200003', u'179', u'4189', u'2696',
       u'599', u'1321', u'7', u'93', u'975', u'773', u'200043', u'1008',
       u'661', u'567', u'1890', u'269', u'200034', u'200045', u'2805', u'1061',
       u'664', u'562', u'1175', u'759', u'988', u'1158', u'1363', u'1078',
       u'763', u'2553', u'1129', u'776', u'289', u'2417', u'914'],
      dtype='object')
54 (3021,) (3021, 53)